/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Archivo Black', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header - Menú */
header.menu {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
}

.menu_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.menu_item {
    text-decoration: none;
    text-align: center;
    color: #333;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu_item img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease-in-out;
}

.menu_item:hover img {
    transform: scale(1.2);
}

.menu_item span {
    margin-top: 5px;
    font-size: 0.9rem;
    font-weight: bold;
}

/* Contenido Principal */
main {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

main h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
}

main p {
    font-size: 1rem;
    color: #555;
}

/* Contenedor de visualización */
.display {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 100%;
}

.display img {
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

/* Contenedor del visualizador de PDF */
.pdf-viewer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f9f9f9;
    height: calc(100vh - 60px); /* Resta el tamaño del header */
    text-align: center;
}

.pdf-viewer-container h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

.pdf-viewer {
    width: 90%;
    height: 80%;
    border: 1px solid #ccc;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}


/* Pie de página */
footer {
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    position: relative;
    bottom: 0;
    font-size: 0.9rem;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px); /* Altura de la ventana menos el header */
    background-color: #fff;
}

.fullscreen-image {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    object-fit: contain; /* Mantiene la proporción de la imagen */
}

